.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.animated-text {
    font-size: 36px;
    opacity: 0;
    animation: fadeInText 5s forwards;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

